.idea
__pycache__/
*.egg-info

tf_embedding.py
imputer.py

examples/*
!examples/simple_transformation.py
!examples/words_importance.py


data/*
!data/bounds_template.txt
!data/report_example.html

venv/

jobs/
