.idea
__pycache__/
*.egg-info
.cache/

tf_embedding.py
imputer.py

examples/*
!examples/simple_transformation.py
!examples/words_importance.py

_modules/
_sources/
_satic/

data/*
!data/bounds_template.txt
!data/report_example.html

venv/

jobs/
